<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jejusoul.com.github.obd_pids_for_hkmc_evs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:debuggable="true">
        <activity
            android:name=".PluginActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:finishOnTaskLaunch="false"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="org.prowl.torque.ACTIVITY_PLUGIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>
    </application>

</manifest>